
// Colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$pale-yellow: #FFF27E;
$light-gray: rgba(255, 255, 255, 0.125);
$charcoal: #181818;

$primary:       $pale-yellow;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Body
$body-bg: $charcoal;
$body-color: $light;

// Typography
$font-family-base: 'Crimson Text', serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$enable-rounded: false;

// USER MENU
$dropdown-bg: $light-gray;
$dropdown-divider-bg: $charcoal;
$dropdown-link-color: $light;
$dropdown-link-hover-bg: $primary;


// FORMS
$input-bg: $light-gray;
$input-color: $light;
$input-border-color: $black;
$input-focus-color: $light;
$input-focus-border-color: $light;
$input-focus-box-shadow: $light;
$input-placeholder-color: rgba($light, 0.4);
